:root {
    --header-font: "Baskerville", serif;
    --body-font: "Helvetica", sans-serif;
    --jupiterbyrd-orange: #dd7825;
    --illumination: #edef32;
    --rumis-wallpaper: #8d209b;
    --hydrangeas-blood: #db2025;
    --light: #457865;
    --dark: rgb(0, 0, 0);
    --gold: rgb(156, 125, 25);
    --background: #f4feff;
    --copper: rgb(150, 135, 123);
    --tea-green: rgb(96, 102, 76);
    --sage: #cecc97ff;
    --dim-gray: rgb(81, 81, 108);
    --paynes-gray: rgb(172, 213, 231);
    --paynes-gray-2: rgb(72, 88, 78);
    --air-force-blue: #628492ff;
    --slate-gray: #648390ff;
    --air-force-blue-2: rgb(94, 153, 179);
    --cadet-gray: rgb(59, 49, 63);

}
body {
    background-color: white;
    background-repeat: no-repeat;
    font-family: var(--body-font);
    background-image: url(background-image.jpg);
    background-size: cover;
    color: var(--rumis-wallpaper);
    margin: 15vh 15vw;
    height: 70vh;
    width:  70vw;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 15px;
    
    
}
div#synopsis-container {
  position: relative;
  margin: 40px;
  height: 300px;
}

div#synopsis-container p {
    margin: auto;
    padding: 0;
    text-align: justify;
    opacity: 0.9;
    position: absolute;
    top:0;
    left:0;
}

div#synopsis-container p:hover {
}

p#synopsis-front {
  pointer-events: none;
  color: var(--illumination);
  z-index: 100;
}

h1 {
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size:120px;
    text-transform: uppercase;
    font-family: var(--header-font);
    letter-spacing: -12px;
    line-height: 85px;
    font-weight: 50;
    padding: 0;
    margin:0;
    color: var(--illumination);
    margin-left: auto;
    margin-right: auto;
    
}
h2 {
  margin-left: auto;
    margin-right: auto;
  text-align: center;
  width: 100%;
  font-family: var(--header-font);
    font-size:100px;
    text-transform: lowercase;
    letter-spacing: -9px;
    font-weight: 100;
    color: var(--hydrangeas-blood);
    width: fit-content;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}


nav ul {
  list-style: none;
}
img.backImage {
    pointer-events:none; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    overflow-y: hidden;
}
img#grainFilter {
    height: 100vh;
    opacity: 0.09;

}

img#doodle { 
 stroke: var(--illumination);
 color: var(--illumination);
 z-index: -1;
}
img#drawing {
  
    z-index: -100;
  -webkit-filter: invert(95%);
  -moz-filter: invert(95%);
  -o-filter: invert(95%);
  -ms-filter: invert(95%);
  filter: invert(95%);
}

textarea#prompt {
  display: block;
  background-color: transparent;
  border: var(--background) solid 1px;
  border-left: none;
  border-right: none;
  resize:none;
  color: var(--background);
  font-family: var(--body-font);
  padding-top: auto;
  padding-bottom: auto;
  padding:10px;
  margin:15px auto;
  width: max-content;
  border-radius: 0;
  height: 200px;
  white-space: normal;
  text-align: center;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  box-sizing:content-box;
}

button {
    display: block;
    padding: 15px;
    font-size: medium;
    font-family: var(--body-font);
    background-color: transparent ;
    color: var(--background);
    border: 1px solid var(--background);
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    cursor: pointer;
}

.parameter {
    display: grid;
    grid-template-columns:1fr 1fr;
    height: 50px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: 5px 0;
    
}
 
#filter{
  z-index: -1;
  height: 300px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}


main#centre-stage {
    border: none;
    width: 100%;
}
main#centre-stage svg {
  width: 100%;
  stroke: white;
  align-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

main#centre-stage svg path {
  stroke: white;
}

div.cell-container {
  
}
aside {
  overflow-y: scroll;
  height: 100%;
}

/*HIDING SCROLLBAR*/
/* Hide scrollbar for Chrome, Safari and Opera */
aside::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
aside {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
aside iframe {
  border-radius:0px;
  width:100%;
  height: 500px;
  margin-top: auto;
  margin-bottom: auto;
}

img#logo {
  width: 100%;
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}
img#logo {
  position: fixed;
  left: auto;
  right: auto;
  width: 100%;
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}

img#logo:hover{

}

footer {
  position: fixed;
  width: 200px;
  bottom: 20px;
  
  margin-left: auto;
  margin-right: auto;
  
}

@media only screen and (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-image: none;
  }
  svg {
    padding-bottom: 15px;
  }
  img#grainFilter {
    visibility: hidden;
  }
  
}

/* <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name*/



